<%- include('header') %>
<% if (saveSuccess) { %>
<div class="alert alert-success">The records were successfully saved!</div>
<% } %>
<% if (saveError) { %>
<div class="alert alert-danger">There was an error saving the file!</div>
<% } %>
<form action="/sort" enctype="multipart/form-data" method="POST">
    <div class="col-12 col-xl-4 inline">
        <input type="file" name="data" class="btn btn-outline-dark" required />
    </div>
    <div class="col-12 col-xl-3 inline">
        <select name="sorting" id="sortingBtn" class="form-control">
            <option value="" selected>Sorting algorithm ...</option>
            <% algorithms.forEach((algorithm) => { %>
            <option value="<%= algorithm %>"><%= algorithm %></option>
            <% }) %>
        </select>
    </div>
    <div class="col-12 col-xl-3 inline">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>
<% if (students.length > 0) { %>
<hr>
<div class="container-fluid">
    <p>It took <%= time %> seconds to process <%= students.length %> records.</p>
    <div>
        <form action="/save/asc" enctype="multipart/form-data" method="POST" class="inline">
            <div class="col-5 col-md-3">
                <input type="text" name="data" hidden value="<%= students.join('^') %>">
                <input type="submit" value="Save in ascending order" class="btn btn-primary" />
            </div>
        </form>
        <form action="/save/desc" enctype="multipart/form-data" method="POST" class="inline">
            <div class="col-5 col-md-3">
                <input type="text" name="data" hidden value="<%= students.join('^') %>">
                <input type="submit" value="Save in descending order" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Student Name</th>
                <th>Student Grade</th>
            </tr>
        </thead>
        <tbody>
            <% students.forEach((student, index) => { %>
            <tr>
                <td><%= index + 1 %></td>
                <td><%= student[0] %></td>
                <td><%= student[1] %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<% } %>
<%- include('footer') %>